@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "TransparentBackground";
    Layout = "~/Views/Shared/_HowTosLayout.cshtml";
}
<div style="background-color:antiquewhite; width:1000px; height:800px">
@(Model)
</div>
